/* The :root pseudo-class represents the html element. */

:root {
    --navy: #0D1445;
    --green: #C2D9D1;
    --purple: #BFBFDB;
    --red: #AD525E;
    --cream: #FFFFEE;
    --pink: #E0D6D9;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 940px;
    margin: auto;
}

.blue-bg {
    background-color: #0D1445;
    background-color: var(--navy);
    color: #FFFFEE;
}

.button {
    background-color: var(--green);
    padding: 12px 12px;
    border-radius: 6px;
}

section {
    padding: 40px 0px;
}

hr {
    width: 70px;
    height: 8px;
    background-color: var(--red);
    margin: 16px auto 32px auto;
    border-radius: 100px;
    border: none;
}

section .section-title {
    font-size: 48px;
    font-weight: bold;
    letter-spacing: -1px;
    margin-bottom: 18px;
    margin-top: 0;
}

section p {
    font-size: 20px;
    line-height: 32px;
}


header {
    text-align: center;
    padding: 20px 0;
}

ul {
    list-style-type: none;
}

header li {
    display: inline;
}

header a {
    color: var(--cream);
    text-decoration: none;
    margin: 0 22px;
}

section img#profile {
    border-radius: 270px;
    width: 263px;
}

section#hero {
    padding-top: 69px;
    padding-bottom: 61px;
}

section#hero h1 {
    font-size: 72px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 0;
    letter-spacing: -2px;
    color: var(--purple);
}

section#hero h2 {
    font-size: 20px;
    font-weight: normal;
    color: var(--red);
    margin-bottom: 20px;
    letter-spacing: 3px;
}

section#hero p {
    font-size: 20px;
    max-width: 465px;
    margin: auto;
    margin-bottom: 20px;
}

section#hero ul {
    padding: 0;
}

section#hero li {
    display: inline;
    margin: 0 6px;
}

section#hero li img {
    width: 37px;
}

a {
    text-decoration: none;
}

section#skills .skillset {
    width: 900px;
    margin: auto;
}

section#skills span {
    display: inline-block;
    background-color: var(--pink);
    width: 146px;
    height: 40px;
    line-height: 40px;
    border-radius: 72px;
    margin: 8px;
    font-size: 16px;
    letter-spacing: -1px;
}